body {
    background: #f7f6f0;
}
/* Head and its components */
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: 2px solid red;
}
.head {
    position: absolute;
    width: 52%;
    height: 50%;
    left: 25%;
    top: 10%;
}
.head-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#cadbe5, #b0cbd9);
    clip-path: ellipse(50% 46% at 50% 50%);
    -webkit-clip-path: ellipse(50% 46% at 50% 50%);
    z-index: 2;
}
.left-eyebrow,
.right-eyebrow {
    position: absolute;
    background: #59475d;
    top: 27%;
    width: 14%;
    height: 4%;
    border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
    z-index: 3;
}
.left-eyebrow {
    left: 15%;
    transform: rotate(-10deg);
}
.right-eyebrow {
    right: 15%;
    transform: rotate(10deg);
}
.left-eye,
.right-eye {
    position: absolute;
    background: #59475d;
    width: 4%;
    height: 12%;
    top: 38%;
    z-index: 3;
    border-radius: 50%/35%;
}
.left-eye {
    left: 20%;
}
.right-eye {
    right: 20%;
}
.mouth {
    position: absolute;
    background: #3d303f;
    width: 42%;
    height: 18%;
    left: 29%;
    top: 65%;
    border-radius: 21% 21% 50% 50% / 30% 30% 70% 70%;
    z-index: 3;
    overflow: hidden;
}
.tongue {
    position: absolute;
    background-image: linear-gradient(#d77689, #cc5966);
    width: 70%;
    left: 15%;
    height: 100%;
    top: 52%;
    border-radius: 50%;
}
.nose {
    position: absolute;
    background: #59475d;
    width: 26%;
    left: 37%;
    height: 42%;
    top: 29%;
    border-radius: 51% 49% 50% 50% / 57% 57% 43% 43%;
    z-index: 4;
}

/* Body and its components */
.body {
    position: absolute;
    width: 50%;
    height: 45%;
    top: 45%;
    left: 26%;
    z-index: 1;
}
.body-copy {
    position: absolute;
    background: #b0cbd9;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 50% 50% / 63% 63% 27% 27%;
    z-index: 1;
}
.belly {
    position: absolute;
    background: #d2e0e9;
    border-radius: 50% 50% 50% 50% / 62% 62% 30% 30%;
    z-index: 2;
    width: 60%;
    height: 68%;
    top: 26%;
    left: 20%;
}
.left-paw,
.right-paw {
    position: absolute;
    background: #a4c3d4;
    width: 40%;
    height: 50%;
    top: -3%;
    clip-path: ellipse(25% 40% at 50% 50%);
}
.left-paw {
    left: -8%;
    transform: rotate(-60deg);
}
.right-paw {
    right: -8%;
    transform: rotate(60deg);
}
.left-foot,
.right-foot {
    position: absolute;
    background: #b0cbd9;
    width: 30%;
    height: 45%;
    top: 55%;
    border-radius: 50%;
    z-index: 4;
}
.left-foot {
    left: -10%;
    transform: rotate(-26deg);
}
.right-foot {
    right: -10%;
    transform: rotate(26deg);
}
.left-inner-foot,
.right-inner-foot {
    position: absolute;
    background: #9ec0cf;
    width: 70%;
    height: 80%;
    top: 10%;
    border-radius: 50%;
}
.right-inner-foot {
    right: 0%;
}
